/* general css start */
*,
body {
  margin: 0;
  padding: 0;
  background-color: #557a95;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

#page_wrapper {
  width: 100%;
}

/* general css end */

/* header css start */
.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.navbar {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 25px 0;
}
.navbar > li {
  position: relative;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.navbar li a {
  /* background-color: #E98074; */
  color: #eae7dc;
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-weight: 500;
  transition: all 0.6s;
}
.navbar li a:hover {
  /* background-color: #E85A4F; */
  border-bottom: 1px solid #eae7dc;
}
.sticky {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #557a95;
}

.hamburger {
  display: none;
  background-color: #557a95;
  width: 100% !important;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 60px;
}
.ham {
  position: absolute;
  padding: 5px 8px;
  border: none;
  right: 10px;
  top: 10px;
  border-radius: 5px;
  background-color: #b1a296;
}
.ham i {
  font-size: 30px;
  color: #eae7dc;
  cursor: pointer;
  background-color: transparent;
}
.vertical_navbar {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.links {
  margin: 45px;
  text-align: center;
  list-style: none;
}
.links li {
  padding: 10px 0;
  width: 100%;
  border: 1px solid #b1a296;
  transition: all 0.6s;
  margin: 5px 0;
  border-radius: 5px;
}
.links li:hover {
  border-bottom: 1px solid #eae7dc;
}
.links li a {
  text-decoration: none;
  color: #eae7dc;
  font-size: 18px;
  font-weight: 500;
}

.cross {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px 8px;
  border: none;
  background-color: #b1a296;
  border-radius: 5px;
}
.cross i {
  background-color: transparent;
  color: white;
  font-size: 18px;
}

/* header css end */

/* hero section css start */
.home_section{
  width: 100%;
  background-color: #b1a296;
  padding: 210px 0;
}
.myself{
  background-color: transparent;
  text-align: center;
}
.myself > p{
  background-color: transparent;
  padding: 0 0 8px 0;
  color: #eae7dc;
  font-size: 22px;
  font-weight: 600;
}
.myself > h1{
  background-color: transparent;
  color: #eae7dc;
  font-size: 60px;
  padding: 0 0 10px 0;
  font-weight: 900;
}
.myself > h1::first-letter{
  color: #188f83;
}
.myself > h2{
  color: #eae7dc;
  background-color: transparent;
  font-size: 45px;
  text-decoration: underline;
  font-weight: 700;
}
/* hero section css end */

/* hero section css start */
.hero {
  padding: 0 0 40px 0;
  width: 100%;
  background-color: #7395ae;
}
.hero > h1 {
  color: #eae7dc;
  background-color: transparent;
  padding: 5px 8px;
  text-align: center;
  margin: 0 0 40px 0;
  border-bottom: 5px solid #eae7dc;
  font-size: 30px;
  font-weight: 700;
}
.hero_section {
  width: 100%;
  background-color: #7395ae;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.picture {
  width: 30%;
  height: 400px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.summary {
  width: 35%;
  padding: 40px 25px;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.summary p {
  line-height: 1.4;
  font-size: 18px;
  font-weight: 500;
  color: #eae7dc;
  background-color: transparent;
  padding: 0;
  margin-bottom: 25px;
}

.summary h1 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
  color: #eae7dc;
  background-color: transparent;
}
.summary h1::first-letter {
  color: #04fce3;
  font-size: 42px;
}
.summary h2 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
  color: #eae7dc;
  background-color: transparent;
}
.resume {
  display: block;
  width: 150px;
  margin: auto;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: all 0.5s;
  text-decoration: none;
  color: #eae7dc;
  background-color: #7395ae;
  padding: 7px 12px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  transition: all 0.3s;
}
.resume:hover {
  opacity: 0.5;
}

/* hero section css end */

/* skills section css start */
.skill {
  padding: 0 0 40px 0;
  width: 100%;
  background-color: #b1a296;
}

.skill > h1 {
  color: #eae7dc;
  padding: 5px 8px;
  background-color: transparent;
  text-align: center;
  margin: 0 0 20px 0;
  border-bottom: 5px solid #eae7dc;
  font-size: 30px;
  font-weight: 700;
}

.skill_set {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 45px;
  width: 70%;
  margin: 40px auto;
  padding: 10px;
  background-color: transparent;
  justify-content: space-between;
}
.skill_set > div {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  background-color: #7395ae;
  transition: all 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skill_set > div:hover {
  background-color: #557a95;
  transform: scale(1.1);
}
.skill_set > div > img {
  width: 100%;
  border-radius: 10px;
  background-color: white;
}
.skill_set > div > p{
  text-align: center;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  color: #eae7dc;
  padding: 8px 0 0 0;
}
/* skills section css end */

/* project section css start */

.project_section {
  width: 100%;
  background-color: #7395ae;
  padding: 0 0 40px 0;
  
}
.project_section > h1 {
  color: #eae7dc;
  background-color: transparent;
  padding: 5px 8px;
  text-align: center;
  border-bottom: 5px solid #eae7dc;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 30px 0;
}
.projects {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  
}
.projects > div {
  width: 35%;
  background-color: #557a95;
  border-radius: 10px; 
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.projects > div > img {
  width: 100% ;
  border-radius: 10px 10px 0 0; 
}
.projects > div > h3 {
  width: 150px;
  margin: 5px auto;
  padding: 3px 8px;
  color: #eae7dc;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  border-bottom: 2px solid #b1a296;
}
.projects > div > p {
  color: #eae7dc;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding: 3px 10px; 
}
.projects > div > .tech_stack {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.projects > div > .tech_stack > p {
  padding: 5px 10px;
  color: #eae7dc;
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
  border-radius: 10px;
  background-color: #b1a296;
  transition: all 1s;
}
.projects > div > .tech_stack > p:hover {
  color: #557a95;
  background-color: #eae7dc;
}
.projects > div > .project_links {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.projects > div > .project_links > a {
  display: inline-block;
  text-decoration: none;
  color: #557a95;
  text-align: center;
  background-color: #eae7dc;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: all 1s;
}
.projects > div > .project_links > a:hover {
  background-color: #7395ae;
  color: #eae7dc;
  border-bottom: 2px solid #b1a296;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* project section css end */

/* contact section css start */
.contact_section{
  width: 100%;
  background-color: #b1a296;
  padding: 0 0 40px 0;
}
.contact_section > h1{
  color: #eae7dc;
  background-color: transparent;
  padding: 5px 8px;
  text-align: center;
  border-bottom: 5px solid #eae7dc;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 40px 0;
}
.contact{
  width: 80%;
  margin: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
}
.contact_links{
  width: 45%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
  padding: 15px;
}
.contact_links > div{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border: 2px solid #eae7dc;
  border-radius: 5px;
  transition: all 0.9s;
}
.contact_links > div:hover{
  transform: scale(1.1);
}

.contact_links > div > span, .contact_links > div > span > i, .contact_links > div > a{
  background-color: transparent;
}
.contact_links > div > span > i{
  font-weight: 900;
  font-size: 25px;
  margin-right: 10px;
  color: #042b48;
}
.contact_links > div > a{
  color: #eae7dc;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
.contact_form{
  background-color: transparent;
  width: 50%;
  padding: 15px;
}
.contact_form > form{
  background-color: transparent;
}
#name, #mail, #subject{
  width: 100%;
  padding: 15px 8px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px 0;
  background-color: #7395ae;
  color: #557a95;
  font-weight: 700;
  transition: all 0.6s;
}
::placeholder{
  color: #042b48;
  font-weight: 500;
  opacity: 0.8;
}
#submit{
  display: block;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #eae7dc;
  letter-spacing: 2;
  transition: all 0.4s ease-in-out;
}
#submit:hover{
  transform: scale(1.1);
  opacity: 0.9;
}
#name:focus, #mail:focus, #subject:focus{
  border: 1px solid #557a95;
  background-color: #e1e1dc;
  color: #557a95;
}
.contact_section > p{
  background-color: transparent;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin: 10px auto ;
  color: #e1e1dc;
  background-color: #504e4e;
  padding: 6px 8px;
}
/* contact section css end */
